.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.max {
    width: 100%;
    height: 100%;
}
.padding15 {
    padding: 15px;
}
iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}