.nav-wrapper {
    display: flex;
    position: relative;
    justify-content: start;
}
.nav {
    display: flex;
    position: relative;
    
}
.playlist-dropdown-wrapper {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

}
.playlist-dropdown-trigger {
    margin: 0px;
}
.playlist-dropdown {
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 1000;
    display: none;
    overflow-y: scroll;
    height: 470px;
}

.playlist-dropdown-wrapper:hover  .playlist-dropdown{
    display: block;
}
.playlist-dropdown:hover {
    display: block;
}
ul {
    margin: 0px;
    padding: 0px;
}

